@import 'media_queries';

.about{
    padding: 100px 0 0 0;
    height: auto;
    width: 100%;
    font-family: $f;
    @include medium {
        padding: 100px 30px 0 30px;
        font-size: 15px;
        line-height: 2.2em;
    }
    @include mobile {
        font-size: 15px;
        padding: 100px 20px 0 20px;
    }
    h1{
        font-size: 2em;
        font-weight: bold;
    }
    p{
        font-size: 1.1em;
        font-family: $m;
        line-height: 2.5em;
        color: black;
        margin-top: 40px;
        margin-bottom: 100px;
        letter-spacing: 1px;
    }
}
.skills{
    background-color: $orangeD;
    background: linear-gradient(45deg, $orangeD, $orangeL);
    padding: 100px;
    height: auto;
    width: 100%;
    color: white;
    font-family: $f;
    @include mobile {
        padding: 50px 10px 50px 10px;
    }
    h2{
        font-weight: bold;
        margin-bottom: 40px;
        text-align: center;
        font-size: 2em;
        width: 100%;
    }
    div{
        width: 152px;
        margin: 0 auto;
        font-size: 1.3em;
        line-height: 2em;
        text-align: center;
        position: relative;
        div{
            position: absolute;
            z-index: 2;
            text-align: center;
            width: 500%;
            margin-left: -200%;
            visibility: hidden;
            opacity: 0;
            transform: rotateX(-90deg);
            transform-origin: top;
            transition: 200ms all ease-out;
            @include mobile {
                display: none;
            }
            filter: drop-shadow(3px 5px 2px #af05229d);
            span{
                padding: 5px 30px 5px 30px;
                background-color: white;
                text-align: center;
                font-size: 0.8em;
                color: black;
            }
            span::before{
                content: '';
                background-color: white;
                width: 15px;
                height: 15px;
                position: absolute;
                display: block;
                left: 50%;
                margin-left: -7.5px;
                top: 5px;
                transform: rotate(45deg);
                z-index: -1;
            }
        }
    }
    div:hover{
        cursor: zoom-in;
        div{
            visibility: visible;
            opacity: 1;
            transform: rotateX(0deg);
            z-index: 10;
        }
        div:hover{
            visibility: hidden;
            opacity: 0;
            transform: rotateX(-90deg);
        }
    }
    h4{
        width: 100%;
        margin-top: 40px;
        text-align: center;
        @include mobile {
            display: none;
        }
    }
}