.about{
    padding: 100px 100px 0 100px;
    height: auto;
    width: 100%;
    font-family: $f;
    h1{
        font-size: 2em;
        font-weight: bold;
    }
    p{
        font-size: 1.3em;
        line-height: 2em;
        color: $grey;
        margin-top: 40px;
        margin-bottom: 100px;
    }
}
.skills{
    background-color: $orangeD;
    background: linear-gradient(45deg, $orangeD, $orangeL);
    padding: 100px;
    height: auto;
    width: 100%;
    color: white;
    font-family: $f;
    .table{
        height: 600px;
        #languages, #tools{
            width: 50%;
            float: left;
            height: 100%;
            h2{
                font-weight: bold;
                margin-bottom: 40px;
                text-align: center;
                font-size: 2em;
            }
            ul{
                li{
                    font-size: 1.3em;
                    line-height: 2em;
                    text-align: center;
                }
            }
        }
    }
    #scale{
        width: 100%;
        height: 1.3em;
        background: linear-gradient(to right, transparent, white);
    }
    #scale-markers{
        margin-top: 20px;
        width: 100%;
        height: 2em;
        border-left: 2px solid white;
        border-right: 2px solid white;
    }
}