.contact{
    font-family: $f;
    padding: 100px 0;
    h2{
        font-size: 1.3em;
        line-height: 2em;
        color: $grey;
        margin-bottom: 40px;
        margin-top: 40px;
    }
    h1{
        font-size: 2em;
        font-weight: bold;
    }

    a{
        color: $orangeD;
        font-size: 2em;
        text-decoration: none;
        border-bottom: 2px $orangeD solid; 
    }

    a:hover{
        color: $orangeL;
        border-bottom: 2px $orangeL solid;  
    }
    .social{
        a{
            margin-right: 40px;
            text-decoration: none;
            border: none;
        }
    }
}