.contact{
    background-color: #fafafa;
    font-family: $f;
    padding: 100px;
    h2{
        font-size: 1.3em;
        line-height: 2em;
        color: $grey;
        margin-bottom: 40px;
        margin-top: 40px;
    }
    h1{
        font-size: 2em;
        font-weight: bold;
    }

    a{
        color: $orangeD;
        font-size: 2em;
        text-decoration: none;
        border-bottom: 2px $orangeD solid; 
    }

    a:hover{
        color: $orangeL;
        border-bottom: 2px $orangeL solid;  
    }
    .social{
        a{
            margin-right: 40px;
            text-decoration: none;
            border: none;
        }
    }
    @include medium-small {
        padding-right: 200px;
    }
}

// .dummy{
//     height: 800px;
//     background-color: #fafafa;
//     background-image: url('~/img/gpiryj.png');
//     background-size: 60%;
//     background-repeat: no-repeat;
//     background-position: bottom center;
//     // background: linear-gradient(45deg, $orangeD, $orangeL);
// }