.dziecimamy-article{
    padding-top: 60px;
    font-family: $f;
    h1{

    }
    .article-img{
        height: 450px;
        width: 100%;
        background-image: url('~/img/dziecimamy.png');
    }
    .project-description{
        width: 610px;
        float: left;
    }
    .stack{
        width: 300px;
        float: right;
    }
}