.heading{
    width: 100%;
    box-sizing: border-box;
    padding-top: 60px;
    font-family: $f;
    height: 100vh;
    @include medium {
        padding: 60px 30px 0 30px;
        font-size: 15px;
    }
    @include mobile {
        padding: 60px 30px 0 30px;
        font-size: 15px;
    }
    .resizable{
        font-size: 16px;
        width: 430px;
        @include medium {
            font-size: 15px;
        }
        @include mobile {
            font-size: 14px;
            width: 100%;
            // max-width: 250px;
        }
    }
    nav{
        width: 380px;
        position: relative;
        span{
            margin-right: 20px;
            cursor: pointer;
            font-weight: bold;
        }
        span:hover{
            border-bottom: $orangeD 3px solid;
        }
    }

    .hello{
        margin-top: 60px;
        font-size: 2em;
        font-weight: bold;
        @include mobile {
            font-size: 7vw;
            width: 100%;
        }
    }
    .name{
        font-size: 6em;
        margin-top: 10px;
        margin-left: -6px;
        font-weight: bold;
        @include mobile {
            font-size: 21vw;
            width: 100%;
            margin-left: -4.5px;
            white-space: nowrap;
        }
    }
    p{
        margin-top: 40px;
        margin-bottom: 50px;
        font-family: $m;
        font-size: 1.1em;
        line-height: 2.5em;
        @include mobile {
            margin-top: 8vw;
            width: 100%;
            max-width: 260px;
        }
    }
    button{
        font-size: 1.3em;
        cursor: pointer;
        border: none;
        outline: none;
        padding: 10px;
        color: white;
        background: linear-gradient(270deg, $orangeD, $orangeL);
        -webkit-box-shadow: 5px 5px 8px -3px transparentize($orangeD, 0.7);
        -moz-box-shadow: 5px 5px 8px -3px transparentize($orangeD, 0.7);
        box-shadow: 5px 5px 8px -3px transparentize($orangeD, 0.3);
        transition: 100ms all;
    }
    button:hover{
        transform: translateY(-4px);
        -webkit-box-shadow: 5px 9px 12px -1px transparentize($orangeD, 0.7);
        -moz-box-shadow: 5px 9px 12px -1px transparentize($orangeD, 0.7);
        box-shadow: 5px 9px 12px -1px transparentize($orangeD, 0.7);
    }
    button:active{
        transform: translateY(2px);
        -webkit-box-shadow: 2px 2px 2px -5px darken($orangeD, 3);
        -moz-box-shadow: 2px 2px 2px -5px darken($orangeD, 3);
        box-shadow: 2px 2px 2px -5px darken($orangeD, 3);
    }
    footer{
        height: 60px;
        line-height: 105px;
        margin-top: 130px;
        font-size: 1.2em;
        a{
            color: black;
            margin-right: 10px;
        }
        a:last-of-type{
            margin-right: 40px;
        }
        a:hover{
            color: $orangeD;
        }
    }
}
// .bg-img{
//     background-image: url('~/img/gpiryj.png');
//     background-size: 507px 650px;
//     background-repeat: no-repeat;
//     background-position: right 100px;  
//     overflow: visible !important;
//     background-attachment: local;
// }