@import 'reset';
@import 'variables';
@import 'contact';
@import 'projects';
@import 'about';
@import 'nav';
@import 'heading';
@import 'dziecimamy';

html, body{
    height: 100%;
}

body{
    overflow-x: hidden;
}

.content{
    width: 100%;
    margin: 0 auto;
    max-width: 910px;
    min-height: 100%;
    position: relative;
    height: auto;
    box-sizing: border-box;
}

b{
    font-weight: bold;
    // color: $orangeD;
}
.slot{
    transition: all 100ms cubic-bezier(.84,.02,.24,1);
    opacity: 1; 
    transform: translateX(0);
}

#cover-img{
    background-color: aqua;
    position: fixed;
    height: 450px;
    top: 60px;
    width: 910px;
    left: 50%;
    margin-left: -455px;
    display: none;
    background-image: url('~/img/dziecimamy.png');
}