@import 'reset';
@import 'variables';
@import 'sidenav';
@import 'contact';
@import 'projects';

html, body{
    height: 100%;
}

.wrapper{
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.content{
    width: 62.2%;
    min-height: 100%;
    height: auto;
    box-sizing: border-box;
    margin-left: 37.8%;
}