@import 'media_queries';

.navbar{
    width: 910px;
    padding: 0 50px;
    height: 60px;
    left: 50%;
    margin-left: -455px;
    background-color: white;
    position: fixed;
    z-index: 9999;
    font-family: $f;
    overflow: hidden;
    clear: both;
    transition: all 100ms cubic-bezier(.84,.02,.24,1);
    div{
        @include mobile {
            display: none;
        }
    }
    i{  
        display: none;
        font-size: 1.4em;
        cursor: pointer;
        line-height: 60px;
        transition: 300ms all cubic-bezier(.85,.05,.2,.98);
        @include mobile {
            display: inline-block;
        }
    }
    .open-menu{
        transform: rotate(180deg);
    }
    .menu-item{
        padding-right: 30px;
        cursor: pointer;
        font-weight: bold;
        font-size: 1.2em;
        height: 55px;
        line-height: 60px;
        float: left;
        margin-bottom: 4px;
        transition: 100ms all ease-in-out;
    }
    #contact{
        padding: 0;
    }
    #underline{
        height: 4px;
        width: 0px;
        position: absolute;
        left: 50px;
        bottom: 0;
        background-color: $orangeD;
        transition: all 80ms ease-out;
        margin-left: 50px;
        @include medium {
            margin-left: 30px;
        }
    }
    #lang{
        position: absolute;
        right: 50px;
        top: 0;
        cursor: pointer;
        overflow: hidden;
        font-weight: bold;
        font-size: 1.2em;
        height: 60px;
        text-align: right;
        line-height: 60px;
        width: 25px;
        @include medium {
            right: 30px;
        }
        div{
            float: left;
            width: 25px;
            height: 60px;
            position: absolute;
            text-align: center;
            transition: 100ms all ease-in-out;
        }
        #pl{
            right: -25px;
        }
    }
    #lang:hover{
        color: $orangeD;
    }
    .pl-active{
        div{
            transform: translateX(-25px);
        }
    }
    @include medium {
        width: 100%;
        left: 0;
        margin-left: 0;
        padding: 0 30px 0 30px;
    }
    @include mobile {
        padding: 0 20px 0 20px;
    }    
}
.mobile-menu{
    display: none;
    position: fixed;
    top: 60px;
    height: 100vh;
    width: 100%;
    left: -100vw;
    background-color: white;
    transition: all 300ms cubic-bezier(.41,.93,.59,.96);
    div{
        position: absolute;
        bottom: 100px;
        width: 100%;
        height: 300px;
        line-height: 100px;
        left: 30px;
        font-family: $f;
        font-size: 1.4em;
        a{
            width: 100%;
            display: inline-block;
            text-decoration: none;
            color: black;
            font-weight: bold;
            opacity: 0;
            transition: all 300ms cubic-bezier(.41,.93,.59,.96);
            transition-delay: 300ms;
            transform: translateX(-50px);
        }
        a:nth-child(2){
            transition-delay: 350ms;
        }
        a:nth-child(3){
            transition-delay: 400ms;
        }
    }
    @include mobile {
        display: block;
    }
}

.menu-open{
    left: 0;
    a{
        opacity: 1 !important;
        transform: translateX(0) !important;
    }
}