.navbar{
    width: 1010px;
    padding: 0 50px;
    height: 60px;
    left: 50%;
    margin-left: -505px;
    background-color: white;
    position: fixed;
    z-index: 9999;
    font-family: $f;
    overflow: hidden;
    clear: both;
    .menu-item{
        padding-right: 30px;
        cursor: pointer;
        font-weight: bold;
        font-size: 1.2em;
        height: 55px;
        line-height: 60px;
        float: left;
        margin-bottom: 4px;
    }
    #contact{
        padding: 0;
    }
    #underline{
        height: 4px;
        width: 0px;
        position: absolute;
        left: 50px;
        bottom: 0;
        background-color: $orangeD;
        transition: all 80ms ease-out;
    }
    #lang{
        position: absolute;
        right: 50px;
        top: 0;
        cursor: pointer;
        overflow: hidden;
        font-weight: bold;
        font-size: 1.2em;
        height: 60px;
        text-align: right;
        line-height: 60px;
        width: 25px;
        div{
            float: left;
            width: 25px;
            height: 60px;
            position: absolute;
            text-align: center;
            transition: 100ms all ease-in-out;
        }
        #pl{
            right: -25px;
        }
    }
    #lang:hover{
        color: $orangeD;
    }
    .pl-active{
        div{
            transform: translateX(-25px);
        }
    }
}