.novak-article{
    .article-img{
        background-image: url('~/img/novak.png');
    }
    .project-description{
        margin-bottom: 40px !important;
        a{
            word-break: break-all;
        }
    }
    h1{
        @include medium {
            padding-top: 0px !important;
        }
    }
}