#card{
    height: 618px;
    width: 448px;
    margin: 50px auto;
    background-image: url('/img/portrait.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transform: rotateY(0deg);
    transform: rotateX(0deg);
    border-radius: 8px;
    transition: 200ms all ease-in-out;
    position: relative;
    cursor: pointer;
  }
  
  #parent{
      -webkit-perspective: 1000px; /* Safari 4-8 */
    perspective: 1000px;
  }
  
  #glow{
    position: absolute;
    background-color: white;
    top: 160px;
    left: 74px;
    height: 300px;
    width: 300px;
    border-radius: 100%;
    transform: translateX(0%);
    transform: translateY(0%);
    -webkit-filter: blur(130px);
    opacity: 0;
    filter: blur(130px);
    transition: 200ms all ease-in-out;
  }
