.projects{
    height: auto;
    width: 100%;
    background-color: white;
    font-family: $f;
}

.project{
    height: 600px;
    width: 100%;
    margin-bottom: 40px;
    cursor: pointer;
    padding: 100px;
    padding-right: 0;
    position: relative;
    .project-img{
        width: 600px;
        height: 400px;
        background-color: white;
        position: absolute;
        right: -100px;
    }
    .project-text{
        position: absolute;
    }
    .project-icons{
        position: absolute;
        bottom: 100px;
        left: 100px;
        color: white;
        font-size: 2em;
        i{
            margin-right: 10px;
        }
        span{
            display: none;
            font-size: 0.5em;
            margin: 0 5px;
            transform: translateY(-0.5em);
        }
    }
    h1{
        font-size: 2em;
        font-weight: bold;
        color: white;
        margin-bottom: 10px;
    }
    h3{
        font-size: 1.1em;
        color: white;
        opacity: 0.6;
        letter-spacing: 1px;
    }
    p{
        margin-top: 40px;
        color: white;
        font-size: 1.4em;
        line-height: 1.7em;
    }
}
.project:hover{
    span{
        display: inline-block;
    }
}
#dziecimamy{
    background-color: #0098ff;
    .project-img{
        -webkit-box-shadow: -25px 25px 52px -3px #002d759d;
        -moz-box-shadow: -25px 25px 52px -3px #002d759d;
        box-shadow: -25px 25px 52px -3px #002d759d;
        background-image: url('~/img/dziecimamy.png');
    }
}

#kajetaniak{
    background-color: $orangeD;
    .project-img{
        -webkit-box-shadow: -25px 25px 52px -3px #5a0412b4;
        -moz-box-shadow: -25px 25px 52px -3px #5a0412b4;
        box-shadow: -25px 25px 52px -3px #5a04129d;
    }
}

#stock{
    background-color: #585764;
    .project-img{
        -webkit-box-shadow: -25px 25px 52px -3px #1211189d;
        -moz-box-shadow: -25px 25px 52px -3px #1211189d;
        box-shadow: -25px 25px 52px -3px #1211189d;
    }
}

#novak{
    background-color: #00a3d7;
    .project-img{
        -webkit-box-shadow: -25px 25px 52px -3px #1211189d;
        -moz-box-shadow: -25px 25px 52px -3px #1211189d;
        box-shadow: -25px 25px 52px -3px #001b3f9d;
    }
}