.side-nav{
    position: absolute;
    height: 100%;
    width: 37.8%;
    top: 0;
    left: 0;
    background-color: white;
    box-sizing: border-box;
    padding: 50px;
    font-family: $f;
    .fixed{
        position: fixed;
        height: 100vh;
    }
    nav{
        span{
            margin-right: 20px;
            cursor: pointer;
            font-weight: bold;
        }
        span:hover{
            border-bottom: $orangeD 3px solid;
        }
    }

    .hello{
        margin-top: 120px;
        font-size: 2em;
        font-weight: bold;
    }
    .name{
        font-size: 6em;
        margin-top: 10px;
        margin-left: -6px;
        font-weight: bold;
    }
    p{
        margin-top: 40px;
        margin-bottom: 40px;
        font-size: 1.3em;
        line-height: 2em;
    }
    footer{
        position: absolute;
        letter-spacing: 1px;
        bottom: 100px;
        left: 0;
        color: rgb(180, 180, 180);
        a{
            color: black;
            margin-right: 10px;
        }
        a:last-of-type{
            margin-right: 40px;
        }
        a:hover{
            color: $orangeD;
        }
    }
    button{
        font-size: 1.3em;
        cursor: pointer;
        border: none;
        outline: none;
        padding: 10px;
        color: white;
        // border-radius: 100px;
        background: linear-gradient(270deg, $orangeD, $orangeL);
        -webkit-box-shadow: 5px 5px 8px -3px transparentize($orangeD, 0.7);
        -moz-box-shadow: 5px 5px 8px -3px transparentize($orangeD, 0.7);
        box-shadow: 5px 5px 8px -3px transparentize($orangeD, 0.3);
        transition: 100ms all;
    }
    button:hover{
        transform: translateY(-4px);
        -webkit-box-shadow: 5px 9px 12px -1px transparentize($orangeD, 0.7);
        -moz-box-shadow: 5px 9px 12px -1px transparentize($orangeD, 0.7);
        box-shadow: 5px 9px 12px -1px transparentize($orangeD, 0.7);
    }
    button:active{
        transform: translateY(2px);
        -webkit-box-shadow: 2px 2px 2px -5px darken($orangeD, 3);
        -moz-box-shadow: 2px 2px 2px -5px darken($orangeD, 3);
        box-shadow: 2px 2px 2px -5px darken($orangeD, 3);
    }
}
