// colors
$orangeD: rgb(255, 85, 85);
$orangeL: #FFAA64;
$yellow: #FFF5A5;
$dark: #2A2B2A;

$greenD: #01ffad;
$greenL: #01ffe3; 
 
$blueD: #01c9ff;
$blueL : #01fffd;

$purpleD: #a401ff;
$purpleL : #d501ff;

// shadows
$shadow: 3px 4px 14px 1px darken($orangeD, 3);

// fonts
$f: Helvetica;

@font-face {
    font-family: 'Helvetica';
    src: url('../../fonts/Helvetica-Bold.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica';
    src: url('../../fonts/Helvetica-Neue.woff');
    font-weight: 300;
    font-style: normal;
}

// text selection
::-moz-selection { background: $orangeL; color: white; }
::selection { background: $orangeL; color: white; }