$orangeD: #fa1949;
$orangeL: #fa7e19;
// $orangeL: #74dac6;
// $orangeD: #20c1bd;
$yellow: #ffce64;
$dark: #2D4059;
$grey: rgba(0, 0, 0, 0.746);

// $orangeD: #01ffad;
// $orangeL: #01ffe3; 
 
// $orangeD: #01c9ff;
// $orangeL : #01fffd;

// $orangeD: #a401ff;
// $orangeL : #d501ff;

$shadow: 3px 4px 14px 1px darken($orangeD, 3);

$f: Karla;

@font-face {
    font-family: 'Karla';
    src: url('../../fonts/Karla-Regular.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Karla';
    src: url('../../fonts/Karla-Bold.woff');
    font-weight: Bold;
    font-style: normal;
}
@font-face {
    font-family: 'Karla';
    src: url('../../fonts/Karla-Italic.woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Karla';
    src: url('../../fonts/Karla-Bolditalic.woff');
    font-weight: Bold;
    font-style: italic;
}

::-moz-selection { background: $orangeL; color: white; }
::selection { background: $orangeL; color: white; }